/* Navbar */
nav {
    position: relative;
    background-color: #0089c1;
    display: inline-block;
    box-shadow: inset 0px 0px 5px 0px #016a85;
  }
  
  nav ul>li>a {
    font-size: 30px;
    font-weight: 450;
    color: #fff;
    padding: 2vh 2vh 2vh 2vh;
    display: block;
    text-decoration: none;
  }
  
  nav ul>li>a:hover, nav li.active>a {
    background-color: #0077a8;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
  }
  
  nav ul>li>a::before {
    position: relative;
  
  }
  
  .navbar {
    padding: 0 0 0 8vh;
  }
  
  .acc-link {
    margin-right: 3vh;
    color: #fff;
    padding: .5vh .5vh;
    font-size: 15px;
  }
  
  .acc-link:hover {
    color: #fff; 
  }
  
  .upper-navbar {
    background-color: hsl(197, 100%, 38%);
  }

  /* Footer  */
.copyright-footer {
    background-color: #0089C1;
    box-shadow: inset 0px 0px 5px 0px #0077a8;
    padding: .5vh;
  }
  
  .copyright-text {
    color: #fff;
    margin: 1vh;
  }
  
  footer {
    background-color: #fff;
    box-shadow: inset 0px 0px 5px 0px #9b9b9b;
    text-align: left;
    padding-top: 3.5vh;
    z-index: 1;
    position: relative;
  }
  
  footer h5 {
    font-weight: bold;
    color: #0089c1;
  }
  
  footer p {
    color: #0089c1;
  }
  
  footer p>a {
    color: #0089c1 !important;
    padding: 2vh 0;
  }
  
  footer p>a:hover {
    color: #0089c1;
    text-decoration: underline;
    transition: all ease-in-out 0.2s;
  }
  
  footer .footer-social a {
    font-size: 4vh;
    color: #fff;
    margin: 1vh;
    padding: 1.5vh;
  }
  
  footer p {
    font-size: 18px;
  }